.container{
  display: flex;
  justify-content: center;
  margin-top: 8rem;
}

.editar-perfil {
  font-family: sans-serif;
  background-color: #1A1A1D;
  width: 600px;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editar-perfil h2 {
  text-align: center;
  margin-bottom: 20px;
}

.editar-perfil label {
  display: block;
  margin-bottom: 5px;
  margin-top: 10px;
  font-weight: bold;
}

.editar-perfil input[type="text"],
.editar-perfil input[type="file"] {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid rgb(0, 140, 255);
  background-color: #333;
  color: white;
}

.imagen-campo {
  margin-bottom: 20px;
}

.imagen-preview {
  margin-top: 10px;
  text-align: center;
}

.preview-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.banner-preview {
  width: 200px;
  height: 100px;
  border-radius: 8px;
}

.botones {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  width: 100%;
}

.btn-guardar, .btn-cancelar {
  background-color: #1A1A1D;
  border: 1px solid rgb(0, 140, 255);
  color: rgb(0, 140, 255);
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
  height: 40px;
  width: 140px;
}

.btn-guardar:hover, .btn-cancelar:hover {
  background-color: rgb(0, 140, 255);
  color: white;
}
