.header-container {
    background-color: #1A1A1D;
    padding: 10px 10px; /* Aumenté el padding para hacer el header más alto */
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* Estilos del logo */
.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.logo img {
    width: 50px; /* Aumenté el tamaño del logo */
    height: 50px;
    margin-right: 10px;
    border-radius: 8px;
}

.site-name {
    font-size: 1.5em;
    font-weight: bold;
}

/* Estilos del buscador */
.search-form {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.search-form input {
    padding: 10px;
    border: none;
    border-radius: 15px;
    width: 35%;
    font-size: 16px;
    background-color: #29292E;
    color: white;
    outline: none;
    height: 50px;
    margin-top: 0.5rem;
}

.search-form input::placeholder {
    color: #B0B0B5; /* Color del placeholder para que sea visible */
}

/* Estilos del perfil */
.profile-link img {
    width: 60px; /* Aumenté el tamaño de la imagen */
    height: 60px;
    border-radius: 50%;
    border: none;
    margin-left: 130px;
}
