<div class="container">
    <header class="header-container">
        <nav class="header-nav">
            <a href="/dashboard" class="logo">
                <img src="assets/images/logo.png" alt="Logo de CheckPoint">
                <span class="site-name">CheckPoint</span>
            </a>

            <form (submit)="redirigirABuscador()" class="search-form">
                <input
                    type="text"
                    name="q"
                    [(ngModel)]="query"
                    placeholder="Buscar..."
                    required
                >
            </form>

            <a class="login" href="/login" *ngIf="!usuario">Iniciar sesión</a>


            <a href="/perfil" class="profile-link">
                <img *ngIf="usuario" [src]="usuario.foto_perfil_url" alt="Foto de perfil" class="foto-perfil">
            </a>
        </nav>
    </header>
</div>
