<aside>
    <nav>
        <div>
            <a href="/dashboard"><i class="fas fa-home"></i> Inicio</a>
            <a href="/perfil"><i class="fas fa-user"></i> Perfil</a>
            <a href="/amigos"><i class="fas fa-user-friends"></i> Amigos</a>
            <a routerLink="/publicaciones-guardadas"><i class="fas fa-bookmark"></i> Guardados</a>
            <a href="/logros"><i class="fas fa-trophy"></i> Logros</a>
            <a href="/motes"><i class="fas fa-smile-beam"></i> Motes</a>
            <a (click)="logout()"><i class="fas fa-level-up-alt"></i> Nivel</a>
        </div>
        <div class="logout">
            <a class="logout" href="">Cerrar sesión</a>
        </div>
    </nav>
</aside>
