/* Estilos del menú lateral */
aside {
    background-color: #1A1A1D;
    width: 200px; /* Ancho del menú */
    height: 919px; /* Ajuste de altura restando la del header */
    position: fixed;
    top: 80px; /* Igualando la altura del header */
    left: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-family: sans-serif; /* Fuente sans-serif */
    margin-top: 4px;
}

/* Contenedor de enlaces */
aside nav {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Estilos de los enlaces principales */
aside nav div:first-child {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Estilos de los enlaces */
aside a {
    text-decoration: none;
    color: white;
    font-size: 1.1em; /* Tamaño de fuente aumentado */
    padding: 12px;
    display: block;
    border-radius: 5px;
    transition: all 0.3s;
}

.logout a:hover{
    background-color: rgb(255, 66, 66);
}

aside a:hover {
    background-color: #29292E; /* Color de fondo al pasar el ratón */
}

